<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello World</title>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/4.1.0/css/bootstrap.min.css" />

    <meta th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="starter-template">
        <h2>Seems to be working, pall</h2>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>